<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
      <ul class="navbar-nav mr-auto d-flex align-items-center">
        <li class="nav-item active">
          <img src="https://scontent.fcgh10-1.fna.fbcdn.net/v/t1.6435-9/74508414_2554814404605741_705064829198532608_n.jpg?_nc_cat=106&ccb=1-3&_nc_sid=09cbfe&_nc_eui2=AeHYWi1uycDcnK-knappy7W4jPBUHiLTqcKM8FQeItOpwvrOdVo_X4A2kNtO7hLapdx2hc47p-zypvWy1apYJKdm&_nc_ohc=-5RhhtYYAZUAX_WcDEk&_nc_ht=scontent.fcgh10-1.fna&oh=81a59d474f03d7ddf75b25a6b6c28ba7&oe=60D41FD0" alt="imagem do user" width="50px" height="50px" class="img-fluid rounded-circle" >
        </li>
        <li class="nav-item pl-3">
          <p class="m-0 font-weight-bold text-white fs-16">Nome do usuário</p>
        </li>
        <a href="">
            <li class="nav-item pl-3">
                <p class="text-white fs-16 m-0"><i class="fa fa-pencil-square-o " aria-hidden="true"></i></p>
            </li>
        </a>
      </ul>

      <ul class="navbar-nav ml-auto d-flex align-items-center">
        <li class="nav-item pl-3">
            <a class="m-0 font-weight-bold text-white fs-16">Sair <i class="fa fa-sign-out" aria-hidden="true"></i>
            </a>
          </li>
      </ul>

    </div>
  </nav>
